@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-dark: #0F172A;
  --color-brand-blue: #4F46E5;
  --color-brand-lightblue: #F0F4F8;
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}